.login-btn{
    background-color: blue;
    color:aqua;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.account{
    background-color:aquamarine;
    color:rgb(43, 118, 183);
    border: none;
    border-radius: 10px;
    padding: 5px;
}
